html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: $black-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}

@media (min-width: 960px) {
  .GridItem-grid-300 {
      flex-grow: 0;
      max-width: 53.333333% !important;
      flex-basis: 33.333333%;
      width: 50% !important;
  }
  }

  #root > div > div.LandingPage-main-4.LandingPage-mainRaised-5 > div > div.TeamSection-section-319 > div > div > div{
    width: 100% !important;
    max-width: 100% !important;

  }

  .SectionTabs-section-366 {
     padding:0 0 !important; 
     background: none!important;
  }

  .slick-caption{
    display: block !important;
  }
  .RegularButton-justIcon-166.RegularButton-sm-162{
    opacity:0.5
    }
  .RegularButton-justIcon-166.RegularButton-sm-162:hover{
opacity:1
}

  .ProfilePage-navWrapper-18 {
    margin: 20px auto 50px auto;
    text-align: center;
    margin-bottom: 0!important;
}

.ProfilePage-navWrapper-18 {
  margin: 20px auto 50px auto;
  text-align: center;
  margin-bottom: 0!important;
}
// Mobile Responsive
#root > div > div.LandingPage-main-4.LandingPage-mainRaised-5 > div > div.ProductSection-section-301 > div > div > div:nth-child(2) > div > div.InfoArea-iconWrapper-305.InfoArea-success-309.InfoArea-iconWrapperVertical-317 > svg{
  animation:jello-horizontal 2.5s 12s both
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:13:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
//Bug Squasher
#root > div > div.LandingPage-main-4.LandingPage-mainRaised-5 > div > div.ProductSection-section-301 > div > div > div:nth-child(4) > div > div.InfoArea-iconWrapper-305.InfoArea-danger-308.InfoArea-iconWrapperVertical-317 > svg{  
  animation:slide-out-bck-bottom 10s cubic-bezier(.55,.085,.68,.53) 20s both
}
  /* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:9:39
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes slide-out-bck-bottom{0%{transform:translateZ(0) translateY(0);opacity:1}100%{transform:translateZ(-1100px) translateY(1000px);opacity:0}}// Interactive

 #root > div > div.LandingPage-main-4.LandingPage-mainRaised-5 > div > div.ProductSection-section-301 > div > div > div:nth-child(1) > div > div.InfoArea-iconWrapper-305.InfoArea-info-310.InfoArea-iconWrapperVertical-317 > svg{
  animation:wobble-hor-bottom 5s 7s both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:35:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:18:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 #root > div > div.LandingPage-main-4.LandingPage-mainRaised-5 > div > div.ProductSection-section-301 > div > div > div:nth-child(3) > div > div.InfoArea-iconWrapper-305.InfoArea-danger-308.InfoArea-iconWrapperVertical-317 > svg{
  animation:pulsate-bck .3s ease-in-out 15s 20 both
 }
 @keyframes pulsate-bck{0%{transform:scale(1)}50%{transform:scale(.9)}100%{transform:scale(1)}}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:3:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */




 @keyframes kenburns-top{0%{transform:scale(1) translateY(0);transform-origin:50% 16%}100%{transform:scale(1.25) translateY(-15px);transform-origin:top}}