html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
  text-align: center;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 10px 10px 10px;
  
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: $black-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}



a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}

.RegularButton-transparent-171{
  color: white !important;
}
.MuiPopover-paper-1733,.Header-drawerPaper-44,.MuiPaper-root-67.MuiPaper-elevation16-85.MuiDrawer-paper-203.Header-drawerPaper-57.MuiDrawer-paperAnchorRight-205{
    background-color: #00acc1 !important;
}
.padding-left-0{
  padding-left: 0;
}


li .NavLink3:hover{
  color: #ff9800 !important
  
}

li .NavLink2:hover{
  color: #00acc1 !important
}


img:hover{
  -webkit-animation: kenburns-top 50s ease-out both;
  animation: kenburns-top 50s ease-out both;
  opacity: 0.5;
}

.GridContainer-grid-218,.GridContainer-grid-205{
  margin-left: 0!important;
  margin-right: 0!important;
}

.Text-Align-Center{
  text-align: center;
}
// Skills Colors
.fa-2x{
  opacity: 0.5;
}
.fa-2x:hover{
  opacity: 1;
}
.fa-react{
  color: #61dafb !important;
}
.fa-js-square{
  color: #e9d44d;
}
.fa-html5{
  color:#e44d26;
}
.fa-bold{
  color:#6432ad;
}
.fa-css3{
  color:#167dbe;
}

.fa-wheelchair{
  color:#0000ff
}

.fa-server{
  color:mediumpurple
}

.fa-code-branch{
  color: black;
}

.fa-npm{
  color: #cb3837;
}

.fa-terminal{
  color: #73d216
}

.fa-docker{
  color: #099cec;
}

.fa-wordpress{
  color: #218ecf;
}
// Skills Colors End

  .contactme{
   padding-bottom: 0 !important;
  
  }


  .SectionTabs-section-366,.SectionTabs-section-1047,.SectionTabs-section-360,.SectionTabs-section-568,.SectionTabs-section-763,.SectionTabs-section-958,.SectionTabs-section-1153,.SectionTabs-section-1348,.SectionTabs-section-1543,.SectionTabs-section-1738,.SectionTabs-section-1933,.SectionTabs-section-2128 {
     padding:0 0 !important; 
     background: none!important;
     
  }

  
  .slick-caption{
    display: block !important;
  }
  
  i.fas,i.fab{
    opacity:0.5 !important;
    }

    i.fas:hover,i.fab:hover{
    opacity:1 !important;
}

  .ProfilePage-navWrapper-18 {
    margin: 20px auto 50px auto;
    text-align: center;
    margin-bottom: 0!important;
}

.ProfilePage-navWrapper-18 {
  margin: 20px auto 50px auto;
  text-align: center;
  margin-bottom: 0!important;
}

.SectionCarousel-section-322,.SectionCarousel-section-592,.SectionCarousel-section-849,.SectionCarousel-section-1106 {
  padding: 0px 0px !important;
}

.Skills{
  margin-left: 5px;

}




// Mobile Responsive
.Responsive {
  animation:jello-horizontal 2.5s 12s both
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:13:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}
//Bug Squasher
.Bug{  
  -webkit-animation: blink-1 6s 25s both;
	        animation: blink-1 6s 25s both;
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 @-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
 .Interactive{
  animation:wobble-hor-bottom 5s 7s both
}

/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:35:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:18:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .Optimized{
  animation:pulsate-bck .3s ease-in-out 15s 20 both
 }
 @keyframes pulsate-bck{0%{transform:scale(1)}50%{transform:scale(.9)}100%{transform:scale(1)}}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-29 16:3:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2019-5-31 0:37:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
// More Info Background
.Header-drawerPaper-44,.Header-drawerPaper-45,.Header-drawerPaper-46,.Header-drawerPaper-47,.Header-drawerPaper-48,.Header-drawerPaper-49,.Header-drawerPaper-50,.Header-drawerPaper-51,.MuiPopover-paper-764,.MuiPopover-paper-551.MuiPopover-paper-551,.MuiPopover-paper-535,.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328, .MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328,.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328, .MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328,.MuiPopover-paper-537body > div:nth-child(11) > div.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328,body > div:nth-child(12) > div.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328
{
  background-color: #00acc1c7 !important;

}

.MuiPopover-paper-764,.MuiPopover-paper-977,.MuiPopover-paper-1190,.MuiPopover-paper-1403,.MuiPopover-paper-1616,.MuiPopover-paper-1829,.MuiPopover-paper-2042{
  background-color: #00acc1c7 !important;
}
// =====
.width30{
  max-width: 30% !important;
}



 @media (min-width: 960px) {
  .greetingicon {
        flex-grow: 0;
        max-width: 53.333333% !important;
        flex-basis: 33.333333%;
        width: 50% !important;
        
    }

    .MuiPopover-paper-551,.MuiPopover-paper-1733,.MuiPopover-paper-535,.MuiPaper-elevation8-64,.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328,.MuiPaper-root-54.MuiPaper-elevation8-64.MuiPaper-rounded-55.MuiPopover-paper-328{
      max-width: 30%!important;
      background-color: #00acc1c7 !important;
    }
    
    // Profile Image Container
    .profileDiv{
      margin-left: 15% !important;
    }
  
  
  
   
    .scontainer{
      margin-left: -22% !important;
    }
    #nav-tabs > div > div{
      margin-left: 30%;
    }
    .contactme{
      align-items: center;
      background-size: cover;
      background-image: url(/static/media/sign.cf8b686b.jpg);
      background-position: top center;
      border-radius: 30px;
    
    }
    }